body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #f4f4f4;
}

.container {
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

button {
    padding: 10px;
    width: 100%;
    background: #3498db;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
}

.choiceBtn {
    padding: 10px;
    border: 1px solid #333;
    background: #fafafa;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background: #a5d6a7;
}

.wrong {
    background: #ef9a9a;
}

.hide {
    display: none;
}
